[Unit]
Description=Cubic Remote Command Execution Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=notify-reload
ExecStart=/usr/bin/cubic-rce-bot -confPath %E/cubic-rce-bot/config.json -logNoTime
ReloadSignal=SIGUSR1

[Install]
WantedBy=default.target
