[Unit]
Description=Cubic Remote Command Execution Bot
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/cubic-rce-bot -confPath %E/cubic-rce-bot/%i.json -logNoTime
ExecReload=/usr/bin/kill -USR1 $MAINPID

[Install]
WantedBy=default.target
